<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Meu Site</title> 
</head>
<body>
    <header style="background-color: lightgray; padding: 10px;">
        <h1>CABEÇALHO DO LAYOUT</h1> 
    </header>

    {{{body}}} 

    <footer style="margin-top: 50px; border-top: 1px solid #ccc;">
        <p>RODAPÉ DO LAYOUT &copy; 2025</p>
    </footer>
</body>
</html>